@model Opmas.Data.Objects.Entities.SystemManagement.Unit

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Units";
    ViewBag.Subheader = "View unit details";
    Layout = "~/Views/Shared/Layout/_LayoutForm.cshtml";
}
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Unit", "Edit", new {id = Model.UnitId}, new {@class = "btn btn-primary btn-xs fa fa-pencil"})
    @Html.ActionLink("Delete Unit", "Delete", new {id = Model.UnitId}, new {@class = "btn btn-danger btn-xs fa fa-remove"})
</p>