@using Opmas.Data.Objects.Entities.AccessManagement
@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.SystemManagement.Institution
@{
    var package = Session["package"] as Package;
}
@section css{

    <link href="~/Content/CheckOutCss.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet"/>
}
@if (TempData["checkout"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable">@TempData["checkout"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">@TempData["checkout"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable">@TempData["checkout"]</div>
    }
}
<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <div style="display: table; margin: auto;">
                    <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                    <span class="step_thankyou check-bc step_complete">Invoice</span>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("CheckOut", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
        <div class="row cart-body">
            <!--Institution Data-->
            <div class="panel panel-info">
                <div class="panel-heading">Institution Information</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Institution Name:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Location:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Location, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Contact Number:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ContactNumber, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Institution Email Address:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ContactEmail, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Access Code:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AccessCode, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Subscription Duration:</strong>
                        </div>
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.SubscriptionDuration, EnumHelper.GetSelectList(typeof(SubscriptionDuration)), "select duration", new {@class = "form-control select-dropdown"})
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-submit-fix pull-left">Back to home</a>
                            <input type="submit" value="Payment Inovice" class="btn btn-primary btn-submit-fix pull-right"/>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    }
</div>
@section scripts {
    <script src="~/Scripts/plugins/select2/js/select2.min.js"></script>
    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();
            });


    </script>
}