@using Opmas.Data.DataContext.DataContext.AccessDataContext
@using Opmas.Data.Service.Enums
@{
    Layout = "~/Views/Shared/Layout/_LayoutLandingPage.cshtml";
    var dbPackage = new PackageDataContext();
    var allPackages = dbPackage.Packages.ToList();
    var goldPackage = allPackages.SingleOrDefault(n => n.Type == PackageType.Gold.ToString());
    var silverPackage = allPackages.SingleOrDefault(n => n.Type == PackageType.Silver.ToString());
    var bronzePackage = allPackages.SingleOrDefault(n => n.Type == PackageType.Bronze.ToString());
}
<div class="blog" id="blog">
    <div class="wrap">
        <div class="pricing-plans">
            <h5>Flexible pricing plans to fulfill your needs and solve your problems</h5>
            <p>Revolvationary notebook with eco-friendly paper,advanced surface technology and degital sharing integration.</p>
            <div class="pricing-grids">
                @if (bronzePackage != null)
                {
                    <div class="pricing-grid black">
                        <h3>
                            <a href="#">@bronzePackage.Type Package</a>
                        </h3>
                        <div class="price-value">
                            <a href="#">$@bronzePackage.Amount/Month</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Employee Information Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Training Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Salary System</a>
                            </li>
                        </ul>
                        <div class="cart">
                            <a href="@Url.Action("CheckOut", new {id = bronzePackage.PackageId})">Subcribe</a>
                        </div>
                    </div>
                }
                @if (silverPackage != null)
                {
                    <div class="pricing-grid green">
                        <h3>
                            <a href="#">@silverPackage.Type Package</a>
                        </h3>
                        <div class="price-value">
                            <a href="#">$@silverPackage.Amount/Month</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Employee Information Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Training Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Salary System</a>
                            </li>
                            <li>
                                <a href="#">Employee Performance Management</a>
                            </li>
                        </ul>
                        <div class="cart">
                            <a href="@Url.Action("CheckOut", new {id = silverPackage.PackageId})">Subcribe</a>
                        </div>
                    </div>
                }
                @if (goldPackage != null)
                {
                    <div class="pricing-grid blue">
                        <h3>
                            <a href="#">@goldPackage.Type Package</a>
                        </h3>
                        <div class="price-value">
                            <a href="#">$@goldPackage.Amount/Month</a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">Employee Information Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Training Management</a>
                            </li>
                            <li>
                                <a href="#">Employee Salary System</a>
                            </li>
                            <li>
                                <a href="#">Employee Performance Management</a>
                            </li>
                        </ul>
                        <div class="cart">
                            <a href="@Url.Action("CheckOut", new {id = goldPackage.PackageId})">Subcribe</a>
                        </div>
                    </div>
                }
                <div class="clear"> </div>
                <!-----pop-up-grid---->
                <div id="small-dialog" class="mfp-hide">
                    <div class="pop_up">
                        <div class="payment-online-form-left">
                            <form>
                                <h4><span class="shipping"> </span>Shipping</h4>
                                <ul>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Frist Name" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Frist Name'; }">
                                    </li>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Last Name'; }">
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Email'; }">
                                    </li>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Company Name'; }">
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Phone'; }">
                                    </li>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Address'; }">
                                    </li>
                                    <div class="clear"> </div>
                                </ul>
                                <div class="clear"> </div>
                                <ul class="payment-type">
                                    <h4><span class="payment"> </span> Payments</h4>
                                    <li>
                                        <span class="col_checkbox">
                                            <input id="3" class="css-checkbox1" type="checkbox">
                                            <label for="3" name="demo_lbl_1" class="css-label1"> </label>
                                            <a class="visa" href="#"> </a>
                                        </span>

                                    </li>
                                    <li>
                                        <span class="col_checkbox">
                                            <input id="4" class="css-checkbox2" type="checkbox">
                                            <label for="4" name="demo_lbl_2" class="css-label2"> </label>
                                            <a class="paypal" href="#"> </a>
                                        </span>
                                    </li>
                                    <div class="clear"> </div>
                                </ul>
                                <ul>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Card Number'; }">
                                    </li>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Name on card'; }">
                                    </li>
                                    <div class="clear"> </div>
                                </ul>
                                <ul>
                                    <li>
                                        <input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Expiration Date'; }"><em class="pay-date"> </em>
                                    </li>
                                    <li>
                                        <input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Security Code'; }">
                                    </li>
                                    <div class="clear"> </div>
                                </ul>
                                <ul class="payment-sendbtns">
                                    <li>
                                        <input type="reset" value="Cancel">
                                    </li>
                                    <li>
                                        <input type="submit" value="Process order">
                                    </li>
                                </ul>
                                <div class="clear"> </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-----pop-up-grid---->
            </div>
            <div class="clear"> </div>
            <h6>If you have got any quations related to pricing please get, in touch with us using the form bellow.</h6>
        </div>
    </div>
</div>