@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.SystemManagement.Institution
@{
    ViewBag.Title = "Select-Institution";
    Layout = "~/Views/Shared/Layout/_LayoutLogin.cshtml";
}
@section css {
    <link href="~/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet"/>
}
@if (TempData["access"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
    {
        <div class="alert-success alert-dismissable">@TempData["access"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">@TempData["access"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
    {
        <div class="alert-info alert-dismissable">@TempData["access"]</div>
    }
}
@using (Html.BeginForm("SelectInstitution", "Home", new {ViewBag.ReturnUrl}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <h1>Select Institution</h1>
    <div class="form-group">
        <div>
            @Html.DropDownListFor(m => m.InstitutionId, (SelectList) ViewBag.Institutions, "------------------Please select your institution------------------", new {@class = "form-control select-dropdown"})
            <h1></h1>

            @Html.EditorFor(m => m.AccessCode, new {htmlAttributes = new {@class = "form-control", placeholder = "------------Enter Institution access code-----------------"}})
        </div>
    </div>
    <div>
        <input type="submit" value="Next" class="btn btn-success btn-block" style="margin-left: 0px;"/>
    </div>
    <div class="clearfix"></div>

    <div class="separator">
        <p class="change_link">
            @Html.ActionLink("Back To Home Master", "Index", null, new {@class = "btn btn-xs btn-default"})
        </p>

        <div class="clearfix"></div>
        <br/>

        <div>
            <h1>
                <i class="fa fa-paw"></i> OPMaS!
            </h1>
            <p>©@DateTime.Now.Year All Rights Reserved. OPMaS!. Privacy and Terms</p>
        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/plugins/select2/js/select2.min.js"></script>
    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();

            });


    </script>
}