@model Opmas.Data.Objects.Entities.Employee.Role

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Delete</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Role</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagePackages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagePackages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageInstitutions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageInstitutions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageFaculties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageFaculties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageDepartments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageDepartments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageAppUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageAppUsers)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
</body>
</html>