@using Opmas.Data.Objects.Entities.User
@model Opmas.Data.Objects.Entities.Employee.Role
@{
    var loggedinuser = Session["opmasloggedinuser"] as AppUser;
    if (loggedinuser != null)
    {
        Layout = "~/Views/Shared/_LayoutForm.cshtml";
        ViewBag.Title = "Details";
        ViewBag.Header = "Application Users";
        ViewBag.Subheader = "View application user details";

    }
}

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagePackages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagePackages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageInstitutions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageInstitutions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageFaculties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageFaculties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageDepartments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageDepartments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageAppUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageAppUsers)
        </dd>

    </dl>
</div>
    
<p>
    @Html.ActionLink("Edit Application User", "Edit", new { id = Model.RoleId }, new { @class = "btn btn-primary btn-xs" })
</p>