@model IEnumerable<Opmas.Data.Objects.Entities.AccessManagement.Package>
@{
    Layout = "~/Views/Shared/_LayoutAdminListItems.cshtml";
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PackageId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PackageId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>