@model IEnumerable<Opmas.Data.Objects.Entities.SystemManagement.Institution>
@{
    Layout = "~/Views/Shared/_LayoutSystemAdminListItems.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-success"})
</p>*@
<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InstitutionId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.InstitutionId }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InstitutionId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>