<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Select2 -->
    <link href="~/Content/ManagementDashboard/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    @RenderSection("css", false)

</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">Save Employee Information</h4>
                </div>
                @using (Html.BeginForm("ReviewEmployeeData", "EmployeeManagement", new {  }))
                {
                    <div class="modal-body">

                        @Html.AntiForgeryToken()
                        <p>
                            Saving the information will not capture all the employee's data and as such provide employees with the ability to modify their information later! Agree? Then Save!
                        </p>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Save" class="btn btn-danger pull-right" />
                        <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                    </div>
                }
            </div>
        </div>

    </div>
@RenderBody()
<hr/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; @DateTime.Now.Year - OPMaS</p>
            </div>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Content/ManagementDashboard/vendors/select2/dist/js/select2.full.min.js"></script>
<script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document)
        .ready(function() {
            // Init select2 for dropdown select
            $('.select-dropdown').select2();
        });
</script>
<!-- bootstrap-daterangepicker -->
<script>
    $(document)
        .ready(function() {
            // init datepicker for dob date
            $('.dob')
                .datepicker({
                    'endDate': new Date()
                });

            // init datepicker for start date
            $('.startDate').datepicker();

            // init datepicker for date
            $('.startDate').datepicker({ 'endDate': new Date() });

            // set start date of end date based on selected start date
            $('.startDate')
                .datepicker()
                .on('changeDate',
                    function(e) {

                        // apply selected date as start date for expiry
                        $('.endDate').datepicker('setStartDate', e.date);
                    });
        });
</script>
<!-- /bootstrap-daterangepicker -->
@RenderSection("scripts", false)
</body>
</html>