@model Opmas.Data.Objects.Training.TrainingCategory
@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Training Category";
    ViewBag.Subheader = "View vategory details";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Category", "Edit", new {id = Model.TrainingCategoryId}, new {@class = "btn btn-primary btn-xs fa fa-pencil" })
    @Html.ActionLink("Delete Category", "Delete", new {id = Model.TrainingCategoryId}, new {@class = "btn btn-danger btn-xs fa fa-remove" })
</p>