@using System.Data.Entity
@using Opmas.Data.DataContext.DataContext.EmployeeDataContext
@using Opmas.Data.Objects.Entities.SystemManagement
@model Opmas.Data.Objects.Entities.SystemManagement.Department

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Deparments";
    ViewBag.Subheader = "View depatment details";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    var institutionStructureSession = Session["institutionstructure"] as InstitutionStructure;
    var db = new EmployeeDataContext();
    var employeesData = db.EmployeePersonalDatas.Include(n => n.Employee);
    var employees = employeesData.Where(n => n.Employee.DepartmentId == Model.DepartmentId);
}
<dl class="dl-horizontal">
    @if ((institutionStructureSession != null) && institutionStructureSession.Faculty)
    {
        <dt>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
    }
    <dt>
        @Html.DisplayNameFor(model => model.Institution.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Institution.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

</dl>
<p>
    @Html.ActionLink("Edit Department", "Edit", new {id = Model.DepartmentId}, new {@class = "btn btn-primary btn-xs fa fa-pencil"})
    @Html.ActionLink("Delete Department", "Delete", new {id = Model.DepartmentId}, new {@class = "btn btn-danger btn-xs fa fa-remove"})
    <button type="button" class="btn btn-success btn-xs fa fa-user" data-toggle="modal" data-target="#myModal">
        Department Manager
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Assign Department Manager</h4>
                </div>
                <div class="modal-body">
                    @{
                        ViewBag.EmployeeId = new SelectList(employees, "EmployeeId", "DisplayName");
                        Html.RenderPartial("_AssignDepartmentManager", Model);
                    }
                </div>
            </div>
        </div>

    </div>


</p>