@using System.Data.Entity
@using Opmas.Data.DataContext.DataContext.EmployeeDataContext
@using Opmas.Data.Objects.Entities.SystemManagement
@model Opmas.Data.Objects.Entities.SystemManagement.Department

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Deparments";
    ViewBag.Subheader = "View depatment details";
    Layout = "~/Views/Shared/Layout/_LayoutForm.cshtml";
    var institutionStructureSession = Session["institutionstructure"] as InstitutionStructure;
}
<dl class="dl-horizontal">
    @if ((institutionStructureSession != null) && institutionStructureSession.Faculty)
    {
        <dt>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
    }
    <dt>
        @Html.DisplayNameFor(model => model.Institution.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Institution.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Department
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Department</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("InstitutionManagement/EditDepartment", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Department
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Department</h4>
            </div>@using (Html.BeginForm("Delete", "Departments", new { id = Model.DepartmentId }))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the department?
                    </p>

                </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash" />
                        <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                    </div>
            }
        </div>
    </div>

</div>