@model IEnumerable<Opmas.Data.Objects.Entities.SystemManagement.Department>

@{
    ViewBag.Title = "Departments";
    ViewBag.Header = "List Of Departments";
    Layout = "~/Views/Shared/_LayoutInstitutionAdminListItems.cshtml";
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institution.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }, new { @class = "btn btn-xs btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }, new { @class = "btn btn-xs btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId }, new { @class = "btn btn-xs btn-danger" })|
                    @Html.ActionLink("Manage Units", "Index","Units", new { id = item.DepartmentId }, new { @class = "btn btn-xs btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>
