@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeBankData
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutModalForm.cshtml";
}
@section css {
    <link href="~/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet"/>
}

@using (Html.BeginForm("CreateSingleBankData", "EmployeeManagement", FormMethod.Post, new {@class = "form-horizontal form-label-left", id = "demo-form2", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.Label("Bank Name", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.BankId, (SelectList) ViewBag.Banks, "--Please select your Bank--", new {@class = "form-control select-dropdown"})
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.AccountFirstName, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.AccountFirstName, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter account first name"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AccountMiddleName, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.AccountMiddleName, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter account middlename"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AccountLastName, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.AccountLastName, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter account last name"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Account Number", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.AccountNumber, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter account number"})
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Account Type", "Account Type:", new {@class = "control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.AccountType, EnumHelper.GetSelectList(typeof(AccountTypeEnum)), "select the your account type", new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Create" class="btn btn-success pull-right"/>
    </div>
}


@section scripts {
    <script src="~/Scripts/plugins/select2/js/select2.min.js"></script>

    <script>

        $(document)
            .ready(function() {
                // Init select2 for dropdown select
                $('.select-dropdown').select2();

            });
    </script>
}