@using Opmas.Data.Service.Enums
@model IEnumerable<Opmas.Data.Objects.Training.EmployeeTraining>
@{
    ViewBag.Title = "List";
    ViewBag.Header = "Training";
    ViewBag.Subheader = "List Of Trainings";
    Layout = "~/Views/Shared/_LayoutListItems.cshtml";
}
@if (TempData["training"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable">@TempData["training"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">@TempData["training"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable">@TempData["training"]</div>
    }
}
@section add {
    @Html.ActionLink("Add data", "Create", null, new {@class = "btn btn-primary btn-xs fa fa-plus"})
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordinatorFullname)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordinatorFullname)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.EmployeeTrainingId}, new {@class = "btn btn-xs btn-default fa fa-television"})
                @Html.ActionLink("Attendee list", "AttendeeList", "EmployeeTrainings", new {id = item.EmployeeTrainingId}, new {@class = "btn btn-xs btn-success fa fa-list"})
            </td>
        </tr>
    }
    </tbody>
</table>