@model Opmas.Data.Objects.Mappings.AppraisalPositionMapping

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AppraisalPositionMapping</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AppraisalCategory.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AppraisalCategory.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmploymentPosition.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmploymentPosition.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateLastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateLastModified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AppraisalPositionMappingId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
