@model Opmas.Data.Objects.LeaveManagement.LeaveType
@{
    ViewBag.Title = "Delete";
    ViewBag.Header = "Leave Type";
    ViewBag.Subheader = "Delete a leave type";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Institution.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Institution.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedBy)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateCreated)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateLastModified)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateLastModified)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModifiedBy)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastModifiedBy)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete Position" class="btn btn-danger btn-xs fa fa-remove"/>
    </div>
}