@using Opmas.Data.DataContext.DataContext.EmployeeDataContext
@model Opmas.Data.Objects.Payment.PaymentDeduction
@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Payment Deduction";
    ViewBag.Subheader = "View payement deduction item details";
    Layout = "~/Views/Shared/Layout/_LayoutForm.cshtml";
    var db = new EmployeeDataContext();
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Institution.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Institution.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Rate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Rate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>

    <dd>
        @(db.AppUsers.Find(Model.CreatedBy).DisplayName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateCreated)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateCreated)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateLastModified)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateLastModified)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModifiedBy)
    </dt>

    <dd>
        @(db.AppUsers.Find(Model.LastModifiedBy).DisplayName)
    </dd>

</dl>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  fa fa-pencil" data-toggle="modal" data-target="#myModal">
    Edit Deduction
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Payment Deduction</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("PaymentManagement/EditPaymentDeduction", Model);
                }
            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal1">
    Delete Deduction
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Delete Payment Deduction</h4>
            </div>@using (Html.BeginForm("Delete", "PaymentDeductions", new { id = Model.PaymentDeductionId }))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <p>
                        Are you sure you want to delete the deduction?
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger pull-right fa fa-trash" />
                    <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-default pull-left" />
                </div>
            }
        </div>
    </div>

</div>