@using Opmas.Data.Objects.Entities.User
@model Opmas.Data.Objects.Entities.User.AppUser

@{
    var loggedinuser = Session["opmasloggedinuser"] as AppUser;
    if (loggedinuser != null)
    {
        Layout = "~/Views/Shared/_LayoutForm.cshtml";
        ViewBag.Title = "Create";
        ViewBag.Header = "Application Users";
        ViewBag.Subheader = "Create a new appliction user";
    }
}
@section css {
    <link href="~/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="~/Content/fileinput.min.css" rel="stylesheet"/>
}
@using (Html.BeginForm("Create", "AppUsers", FormMethod.Post, new {@class = "form-horizontal form-label-left", id = "demo-form2", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Firstname, new {htmlAttributes = new {@class = "form-control col-md-7 col-xs-12"}})
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Middlename, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Middlename, new {htmlAttributes = new {@class = "form-control col-md-7 col-xs-12"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lastname, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Lastname, new {htmlAttributes = new {@class = "form-control col-md-7 col-xs-12"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control col-md-7 col-xs-12"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control col-md-7 col-xs-12"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(m => m.RoleId, null, new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <!-- the avatar markup -->
            <div id="kv-avatar-errors-2" class="center-block" style="display: none; width: 800px;"></div>
            <div class="kv-avatar center-block" style="width: 200px">
                <input id="avatar-2" name="avatar-2" type="file" class="file-loading">
            </div>
            <!-- include other inputs if needed and include a form submit (save) button -->
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success pull-right"/>
        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/plugins/select2/js/select2.min.js"></script>
    <script src="~/Scripts/fileinput.js"></script>
    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();

                //image uploader
                var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' +
                    'onclick="alert(\'Call your custom code here.\')">' +
                    '<i class="glyphicon glyphicon-tag"></i>' +
                    '</button>';
                $("#avatar-2")
                    .fileinput({
                        overwriteInitial: true,
                        maxFileSize: 1500,
                        showClose: false,
                        showCaption: false,
                        showBrowse: false,
                        browseOnZoneClick: true,
                        removeLabel: '',
                        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                        removeTitle: 'Cancel or reset changes',
                        elErrorContainer: '#kv-avatar-errors-2',
                        msgErrorClass: 'alert alert-block alert-danger',
                        defaultPreviewContent:
                            '<img src="../../Content/img/default_avatar_male.jpg" alt="Your Avatar" style="width:160px"><h6 class="text-muted">Click to select</h6>',
                        layoutTemplates: { main2: '{preview} ' + btnCust + ' {remove} {browse}' },
                        allowedFileExtensions: ["jpg", "png", "gif"]
                    });

            });


    </script>
}