@using Opmas.Data.Objects.Entities.User
@model Opmas.Data.Objects.Entities.User.AppUser

@{
    var loggedinuser = Session["opmasloggedinuser"] as AppUser;
    if (loggedinuser != null)
    {
        Layout = "~/Views/Shared/Layout/_LayoutForm.cshtml";
        ViewBag.Title = "Delete";
        ViewBag.Header = "Application Users";
        ViewBag.Subheader = "Delete an appliction user";
    }
}
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppUserImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUserImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FingerPrint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FingerPrint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RememberMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RememberMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete User" class="btn btn-danger btn-xs fa fa-remove"/>
        </div>
    }
</div>