@using Opmas.Data.Objects.Entities.User
@model Opmas.Data.Objects.Entities.User.AppUser


@{
    var loggedinuser = Session["opmasloggedinuser"] as AppUser;
    if (loggedinuser != null)
    {
        Layout = "~/Views/Shared/_LayoutForm.cshtml";
        ViewBag.Title = "Details";
        ViewBag.Header = "Application Users";
        ViewBag.Subheader = "View application user details";
    }
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Application User", "Edit", new {id = Model.AppUserId}, new {@class = "btn btn-primary btn-xs"})
</p>