@using Opmas.Data.Objects.Entities.User
@model IEnumerable<Opmas.Data.Objects.Entities.User.AppUser>

@{
    var loggedinuser = Session["opmasloggedinuser"] as AppUser;
    if (loggedinuser != null)
    {
        ViewBag.Title = "Application Users";
        ViewBag.Header = "List Of Application Users";
        Layout = "~/Views/Shared/_LayoutListItems.cshtml";
    }
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.AppUserId}, new {@class = "btn btn-xs btn-primary"}) |
                @Html.ActionLink("Details", "Details", new {id = item.AppUserId}, new {@class = "btn btn-xs btn-default"}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.AppUserId}, new {@class = "btn btn-xs btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>