@using Opmas.Data.Factory.EmployeeManagement
@using Opmas.Data.Objects.Entities.Employee
@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeBankData
@{
    ViewBag.Title = "Step Five: Employee Bank Data";
    ViewBag.HeaderClass = "page-header";
}
@{
    var bankData = new List<EmployeeBankData> {new EmployeeBankData()};
    var employee = Session["Employee"] as Employee;
    if (employee != null)
    {
        bankData = employee.EmployeeBankDatas;
    }
    bool? returnUrl = ViewBag.returnUrl;
    if (returnUrl == null)
    {
        returnUrl = false;
    }
}
<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row hidden-xs">
        <ul class="progressbar">
            <li>
                Step One <br/>
                <small>Personal Data</small>

            </li>
            <li>
                Step Two <br/>
                <small>Educational Qualification</small>
            </li>
            <li>
                Step Three <br/>
                <small>Past Work Experience</small>
            </li>
            <li>
                Step Four <br/>
                <small>Next Of Kin Data</small>
            </li>
            <li class="active">
                Step Five <br/>
                <small>Bank Data</small>
            </li>
            <li>
                Step Six <br/>
                <small>Medical/Work Data</small>

            </li>
            <li>
                Confirmation <br/>
                <small>Review of Employee Info</small>
            </li>
            <li>
                Completed <br/>
                <small>Registration Complete</small>
            </li>
        </ul>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            @if (TempData["bank"] != null)
            {
                if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
                {
                    <div class="alert-success alert-dismissable">@TempData["bank"]</div>
                }
                else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
                {
                    <div class="alert-danger alert-dismissable">@TempData["bank"]</div>
                }
                else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
                {
                    <div class="alert-info alert-dismissable">@TempData["bank"]</div>
                }
            }
            @using (Html.BeginForm("BankData", "EmployeeManagement", FormMethod.Post, new {@class = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                @Html.Hidden("returnUrl", returnUrl)
                <fieldset>
                    <legend>Employee Bank Data</legend>


                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AccountFirstName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.AccountFirstName, new {@class = "form-control", placeholder = "Please enter your account first name"})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AccountMiddleName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.AccountMiddleName, new {@class = "form-control", placeholder = "Please enter your account middle name"})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AccountLastName, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.AccountLastName, new {@class = "form-control", placeholder = "Please enter your account last name"})
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Bank, new {@class = "control-label"}) <span class="req">*</span>
                        @Html.DropDownListFor(m => m.BankId, (SelectList) ViewBag.Bank, "--Please select your bank--", new {@class = "form-control select-dropdown", id = "bank"})


                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AccountNumber, new {@class = "control-label"})
                        @Html.TextBoxFor(m => m.AccountNumber, new {@class = "form-control", placeholder = "Please enter your account number"})
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.AccountType, "Account Type:", new {@class = "control-label"}) <span class="req">*</span>
                        @Html.DropDownList("AccountType", EnumHelper.GetSelectList(typeof(AccountTypeEnum)), "select your account type", new {@class = "form-control select-dropdown", id = "Role"})
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.BankId)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Account Name")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccountType)
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (bankData != null)
                                {
                                    foreach (var item in bankData)
                                    {
                                        <tr>
                                            @if (item != null)
                                            {
                                                <td>
                                                    @(new BankFactory().GetBankById(item.BankId).Name)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DisplayName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountType)
                                            </td>
                                            <td>
                                                @if (item != null)
                                                {
                                                    if (returnUrl == true)
                                                    {
                                                        @Html.ActionLink("Remove", "RemoveBankData", new {fakeId = item.FakeId, returnUrl = true}, new {@class = "btn btn-danger"})
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Remove", "RemoveBankData", new {item.FakeId}, new {@class = "btn btn-danger"})
                                                    }
                                                }
                                            </td>

                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>

                <div class="col-md-12">

                    <a href="@Url.Action("EmployeeFamilyData", "EmployeeManagement")" class="btn btn-default">Back</a>
                    <a href="@Url.Action("Login", "Account")" class="btn btn-default">Cancel</a>

                    <input type="submit" value="Add" class="btn btn-success"/>
                    @if ((bankData != null) && (bankData.Count > 0))
                    {
                        if (returnUrl == true)
                        {
                            <a href="@Url.Action("ReviewEmployeeData", "EmployeeManagement")" class="btn btn-default pull-right">Revert to review page</a>
                        }
                        else
                        {
                            <a href="@Url.Action("MedicalData", "EmployeeManagement")" class="btn btn-brown pull-right">Next</a>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>