@using Opmas.Data.Objects.Entities.Employee
@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeEducationalQualification
@{
    ViewBag.Title = "Create";
}
@section css {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
}

@*<header class="@ViewBag.HeaderClass">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="tagline">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</header>*@
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateSingleEducationalQualification", "EmployeeManagement", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <fieldset>
                <legend>Employee Educational Qualification(s)</legend>

                <div class="form-group col-md-12">
                    @Html.Label("InstitutionName", new { @class = "control-label" }) <span class="req">*</span>
                    @Html.TextBox("InstitutionName", null, new { @class = "form-control", placeholder = "Please enter the institution name" })
                </div>
                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    @Html.Label("Location", new { @class = "control-label" })<span class="req">*</span>
                    @Html.TextArea("Location", null, new { @class = "form-control", placeholder = "Please enter the institution location" })
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("StartDate", new { @class = "control-label" })<span class="req">*</span>
                    @Html.TextBox("StartDate", null, new { @class = "form-control startDate", placeholder = "Please select a start date" })
                </div>
                <div class="clearfix"></div>

                <div class="form-group col-md-12">
                    @Html.Label("EndDate", "End Date:", new { @class = "control-label" }) <span class="req">*</span>
                    @Html.TextBox("EndDate", null, new { @class = "form-control endDate", placeholder = "Please selectan end date" })
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-12">
                    @Html.Label("DegreeAttained", "Degree Attained:", new { @class = "control-label" }) <span class="req">*</span>
                    @Html.DropDownList("DegreeAttained", EnumHelper.GetSelectList(typeof(DegreeTypeEnum)), "select the degree you attained", new { @class = "form-control select-dropdown", id = "Role" })
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-12">
                    @Html.Label("ClassOfDegree", "Class Of Degree:", new { @class = "control-label" }) <span class="req">*</span>
                    @Html.DropDownList("ClassOfDegree", EnumHelper.GetSelectList(typeof(ClassOfDegreeEnum)), "select your class of degree", new { @class = "form-control select-dropdown", id = "Role" })
                </div>
                <div class="clearfix"></div>

            </fieldset>
        }
    </div>
</div>





@section scripts {
    <script src="~/Scripts/plugins/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>

        $(document)
            .ready(function() {

                // init datepicker for start date
                $('.startDate').datepicker();

                // init datepicker for end date
                $('.endDate').datepicker();

                // set start date of expiry based on selected date of end
                $('.startDate')
                    .datepicker()
                    .on('changeDate',
                        function(e) {

                            // apply selected date as start date for expiry
                            $('.endDate').datepicker('setStartDate', e.date);
                        });
            });
    </script>
}