@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeFamilyData
@{
    ViewBag.Title = "Edit";
    ViewBag.Header = "Next Of Kin Data";
    ViewBag.Subheader = "Edit Next Of Kin Data";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@section css {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <!-- Datatables -->
    <link href="~/Content/ManagementDashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">


}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["family"] != null)
            {
                if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
                {
                    <div class="alert-success alert-dismissable">@TempData["family"]</div>
                }
                else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
                {
                    <div class="alert-danger alert-dismissable">@TempData["family"]</div>
                }
                else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
                {
                    <div class="alert-info alert-dismissable">@TempData["family"]</div>
                }
            }
            @using (Html.BeginForm("EditEmployeeFamilyData", "EmployeeManagement", FormMethod.Post, new {@class = "form-horizontal form-label-left", id = "demo-form2", enctype = "multipart/form-data"}))
            {
                @Html.HiddenFor(m => m.EmployeeId)
                @Html.HiddenFor(m => m.EmployeeFamilyDataId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                <fieldset>
                    <legend>Employee Next Of Kin Data</legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.FullName, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter the full name"})
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
                   
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(m => m.Address, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter the address"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please select an email"})
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.ContactNumber, new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
               
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.ContactNumber, new {@class = "form-control col-md-7 col-xs-12", placeholder = "Please enter the contact"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth, "Date Of Birth:", new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
                  
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.DateOfBirth, new {@class = "form-control col-md-7 col-xs-12 dob", placeholder = "Please select the date of birth"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Relationship, "Relationship:", new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
                    
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.Relationship, (SelectList) ViewBag.relationship, "select relationship", new {@class = "form-control col-md-7 col-xs-12 select-dropdown"})
                        </div>
                    </div>

                </fieldset>
                <div class="col-md-12">
                    <input type="submit" value="Update" class="btn btn-primary pull-right"/>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/plugins/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/ManagementDashboard/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/ManagementDashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>

        $(document)
            .ready(function() {

                // init datepicker for date of birth 
                $('.dob').datepicker({ 'endDate': new Date() });

                // Init select2 for dropdown select
                $('.select-dropdown').select2();
                //datatables
                $('#datatable1').DataTable();

            });
    </script>

}