@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeWorkData
@{
    ViewBag.Title = "Edit";
    ViewBag.Header = "Work Data";
    ViewBag.Subheader = "Edit Employee Work Data";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EditWorkData", "EmployeeManagement", FormMethod.Post, new {@class = "form-horizontal form-label-left", id = "demo-form2", enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                @Html.HiddenFor(m => m.EmployeeId)
                @Html.HiddenFor(m => m.EmployeeWorkDataId)
                @Html.HiddenFor(m => m.EmploymentDate)
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentStatus, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentStatus, EnumHelper.GetSelectList(typeof(EmploymentStatus)), "select employee status", new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentPositionId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentPositionId, null, new { @class = "form-control select-dropdown col-md-7 col-xs-12" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentCategoryId, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentCategoryId,null, new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentTypeId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentTypeId, null, new { @class = "form-control select-dropdown col-md-7 col-xs-12" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Update" class="btn btn-primary pull-right"/>
                </div>
            }
        </div>
    </div>
</div>