@using Opmas.Data.Service.Enums
@model Opmas.Data.Objects.Entities.Employee.EmployeeWorkData
@{
    ViewBag.Title = "Edit";
    ViewBag.Header = "Work Data";
    ViewBag.Subheader = "Edit Employee Work Data";
    Layout = "~/Views/Shared/_LayoutInstitutionAdminForm.cshtml";
}

@section css {
    <link href="~/Scripts/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet"/>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EditWorkData", "EmployeeManagement", FormMethod.Post, new {@class = "form-horizontal form-label-left", id = "demo-form2", enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                @Html.HiddenFor(m => m.EmployeeId)
                @Html.HiddenFor(m => m.EmployeeWorkDataId)
                @Html.HiddenFor(m => m.EmploymentDate)
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentType, new {@class = "control-label control-label col-md-3 col-sm-3 col-xs-12"}) <span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentType, EnumHelper.GetSelectList(typeof(EmploymentType)), new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmploymentStatus, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.EmploymentStatus, EnumHelper.GetSelectList(typeof(EmploymentStatus)), new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Category, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.DropDownListFor(n => n.Category, EnumHelper.GetSelectList(typeof(EmployementCategory)), new {@class = "form-control select-dropdown col-md-7 col-xs-12"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PositionHeld, new {@class = "control-label col-md-3 col-sm-3 col-xs-12"})<span class="req">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(m => m.PositionHeld, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Update" class="btn btn-primary pull-right"/>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/plugins/moment/moment.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>

        $(document)
            .ready(function() {
                // Init select2 for dropdown select
                $('.select-dropdown').select2();

            });
    </script>
}