@using Opmas.Data.DataContext.DataContext.EmployeeDataContext
@using Opmas.Data.Factory.EmployeeManagement
@using Opmas.Data.Service.Enums
@model IEnumerable<Opmas.Data.Objects.Entities.Employee.Employee>

@{
    ViewBag.Title = "Employees";
    ViewBag.Header = "List Of Employees";
    Layout = "~/Views/Shared/_LayoutListItems.cshtml";
    var employeeData = new EmployeeDataContext();

    ViewBag.promote = PositionChangeEnum.Promotion.ToString();
    ViewBag.demote = PositionChangeEnum.Promotion.ToString();
}
@if (TempData["employee"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable">@TempData["employee"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">@TempData["employee"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable">@TempData["employee"]</div>
    }
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Firstname")
        </th>
        <th>
            @Html.DisplayName("Lastname")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Previous Position")
        </th>
        <th>
            @Html.DisplayName("Current Position")
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var id = item.EmployeeId;
        var workData = employeeData.EmployeeWorkDatas.SingleOrDefault(n => n.EmployeeId == item.EmployeeId);
        var positionChanged = employeeData.PositionChanges.Where(n => n.EmployeeId == item.EmployeeId);
        <tr>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Firstname)
            </td>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Lastname)
            </td>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Email)
            </td>
        
            @if (workData != null)
            {
                <td>

                    @{
                        var firstOrDefault = positionChanged.FirstOrDefault();
                    }
                    @if (firstOrDefault != null)
                    {
                        @employeeData.EmploymentPositions.Find(firstOrDefault.PreviousPositionId).Name
                    }
                </td>
            }
            @if (workData != null)
            {
                <td>
                    @employeeData.EmploymentPositions.Find(workData.EmploymentPositionId).Name
                </td>
            }
            <td>
                @Html.ActionLink("Promote Employee", "Create","PositionChanges", new { id = item.EmployeeId,ViewBag.promote }, new { @class = "btn btn-success btn-xs fa fa-arrow-circle-up" })

                @Html.ActionLink("Demote Employee", "Create", "PositionChanges", new { id = item.EmployeeId,ViewBag.demote }, new { @class = "btn btn-danger btn-xs fa fa-arrow-circle-down" })
                
            </td>
        </tr>
    }
    </tbody>

</table>