@using Opmas.Data.Factory.EmployeeManagement
@model IEnumerable<Opmas.Data.Objects.Entities.Employee.EmployeePastWorkExperience>

@{
    ViewBag.Title = "List";
    ViewBag.Header = "Past Work Experience";
    ViewBag.Subheader = "List Of Past Work Experienc";
    Layout = "~/Views/Shared/_LayoutUserListItems.cshtml";

}

<table id="datatable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionHeld)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployerContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionHeld)
                </td>
                <td>
                    @Html.ActionLink("Remove", "ConvertEmployeeToAppUser", new { employeeId = item.EmployeeId }, new { @class = "btn btn-xs btn-success" })
                </td>
            </tr>
        }
    </tbody>

</table>
