@using Opmas.Data.DataContext.DataContext.UserDataContext
@using Opmas.Data.Factory.EmployeeManagement
@using Opmas.Data.Objects.Entities.Employee
@using Opmas.Data.Service.Enums
@model IEnumerable<Opmas.Data.Objects.Entities.Employee.Employee>

@{
    ViewBag.Title = "Employees";
    ViewBag.Header = "List Of Employees";
    Layout = "~/Views/Shared/_LayoutListItems.cshtml";
    var appuser = new AppUserDataContext();
    var userRole = Session["role"] as Role;
}
@if (TempData["employee"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationTypeEnum.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable">@TempData["employee"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">@TempData["employee"]</div>
    }
    else if (TempData["notificationtype"].Equals(NotificationTypeEnum.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable">@TempData["employee"]</div>
    }
}
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Firstname")
        </th>
        <th>
            @Html.DisplayName("Lastname")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var appusersExist = appuser.AppUsers.SingleOrDefault(n => n.EmployeeId == item.EmployeeId);
        <tr>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Firstname)
            </td>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Lastname)
            </td>
            <td>
                @(new EmployeeFactory().GetEmployeePersonalData(item.EmployeeId).Email)
            </td>
            <td>
                @if ((userRole != null) && userRole.ManageEmployees)
                {
                    @(appusersExist != null ? Html.ActionLink("Details  ", "ConvertEmployeeToAppUser", new {employeeId = item.EmployeeId}, new {@class = "btn btn-xs btn-default fa fa-television"}) : Html.ActionLink("Manage", "ConvertEmployeeToAppUser", new {employeeId = item.EmployeeId}, new {@class = "btn btn-xs btn-success fa fa-wrench"}))
                    @Html.ActionLink("Work Data", "EditWorkData", new {id = item.EmployeeId}, new {@class = "btn btn-xs btn-primary fa fa-pencil"})
                }

                @if ((userRole != null) && userRole.ManagePayment)
                {
                    @Html.ActionLink("Payment Slip", "EmployeePaySlip", new {id = item.EmployeeId}, new {@class = "btn btn-xs btn-success fa fa-money"})
                }
            </td>
        </tr>
    }
    </tbody>

</table>