@using Opmas.Data.DataContext.DataContext.EmployeeDataContext
@using Opmas.Data.Factory.EmployeeManagement
@using Opmas.Data.Objects.Entities.Employee
@{
    var dbEmployee  = new EmployeeDataContext();
    var edit = true;
    var employee = Session["Employee"] as Employee;
    List<EmployeeEducationalQualification> educationaQualification = null;
    List<EmployeeBankData> bankData = null;
    List<EmployeePastWorkExperience> pastWorkExperienceSession = null;
    EmployeePersonalData employeePersonalData = null;
    EmployeeWorkData employeeWorkData = null;
    EmployeeMedicalData employeeMedicalData = null;
    EmployeeFamilyData employeeFamilyData = null;
    if (employee != null)
    {
        educationaQualification = employee.EmployeeEducationalQualifications;
        bankData = employee.EmployeeBankDatas;
        pastWorkExperienceSession = employee.EmployeePastWorkExperiences;
        employeePersonalData = employee.EmployeePersonalData.SingleOrDefault();
        employeeWorkData = employee.EmployeeWorkDatas.SingleOrDefault();
        employeeMedicalData = employee.EmployeeMedicalDatas.SingleOrDefault();
        employeeFamilyData = employee?.EmployeeFamilyDatas.SingleOrDefault();
    }
}
<style>
    h1, h2, h3 { color: #00004d; }

    label {
        font-size: 12px;
        font-weight: normal
    }

    strong {
        color: #6b6bb5;
        font-size: 14px;
        font-weight: bold;
    }
</style>
<!-- Page content -->
<div class="page-content">

<!-- Main content -->
<div class="content-wrapper">
<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Personal Data</strong>
                </h2>
            </div>
            @if (employeePersonalData != null)
            {
                <div class="panel-body">
                    <div class="row">
                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                        <div class="col-md-4">

                            <h4>
                                <strong >Firstname</strong><br/>
                                <label>@employeePersonalData.Firstname</label>


                            </h4>
                            @if (employeePersonalData.Middlename != null)
                            {
                                <h4>
                                    <strong>Middlename</strong><br/>
                                    <label>@employeePersonalData.Middlename</label>

                                </h4>
                            }


                            <h4>
                                <strong >Lastname</strong><br/>
                                <label>@employeePersonalData.Lastname</label>

                            </h4>
                            <h4>
                                <strong >Gender</strong><br/>
                                <label>@employeePersonalData.Gender</label>

                            </h4>
                            <h4>
                                <strong >Date of Birth</strong><br/>
                                <label>@employeePersonalData.DateOfBirth</label>
                            </h4>

                            <h4>
                                <strong >Place of Birth #</strong><br/>
                                <label>@employeePersonalData.PlaceOfBirth</label>
                            </h4>
                            <div class="margin-bottom-30"></div>


                        </div>
                        <div class="col-md-4" id="otherDetails">


                            <h4>
                                <strong >Primary Address</strong><br/>
                                <label>@employeePersonalData.PrimaryAddress</label>
                            </h4>


                            <h4>
                                <strong >Secondary Address</strong><br/>
                                <label>@employeePersonalData.SecondaryAddress</label>
                            </h4>
                            <h4>
                                <strong >Home Phone Number</strong><br/>
                                <label>@employeePersonalData.HomePhone</label>
                            </h4>
                            <h4>
                                <strong >Mobile Number</strong><br/>
                                <label>@employeePersonalData.MobilePhone</label>
                            </h4>
                            <h4>
                                <strong >Work Number</strong><br/>
                                <label>@employeePersonalData.WorkPhone</label>
                            </h4>
                            <h4>
                                <strong >Email Number</strong><br/>
                                <label>@employeePersonalData.Email</label>
                            </h4>
                            <h4>
                                <strong >Marital Status</strong><br/>
                                <label>@employeePersonalData.MaritalStatus</label>
                            </h4>

                        </div>

                    </div>

                </div>
                <div class="col-md-12 ">
                    <a href="@Url.Action("PersonalData", "EmployeeManagement", new {returnUrl = true})" class="btn btn-brown pull-right fa fa-pencil">Edit</a>

                </div>
            }

        </div>
    </div>
</div>

<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Educational Qualification</strong>
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover" id="appusers">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("#")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Institution Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Start Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("End Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Class Of Degree")
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                @if (educationaQualification != null)
                                {
                                    foreach (var item in educationaQualification)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FakeId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstitutionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EndDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClassOfDegree)
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <a href="@Url.Action("EducationalQualification", "EmployeeManagement", new {returnUrl = true})" class="btn btn-brown pull-right fa fa-pencil">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Family Data</strong>
                </h2>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    @if (employeeFamilyData != null)
                    {
                        <h4>
                            <strong>Fullname</strong><br/>
                            <label>@employeeFamilyData.FullName</label>


                        </h4>

                        <h4>
                            <strong>Email</strong><br/>
                            <label>@employeeFamilyData.Email</label>


                        </h4>

                        <h4>
                            <strong>Contact Number</strong><br/>
                            <label>@employeeFamilyData.ContactNumber</label>


                        </h4>

                        <h4>
                            <strong>Relationship</strong><br/>
                            <label>@employeeFamilyData.Relationship</label>

                        </h4>
                    }

                    <div class="col-md-12 ">
                        <a href="@Url.Action("EmployeeFamilyData", "EmployeeManagement", new {returnUrl = true})" class="btn btn-brown pull-right fa fa-pencil">Edit</a>

                    </div>
                    <div class="margin-bottom-30"></div>


                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Past Work Experience</strong>
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("#")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Employer Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Employer Location")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Start Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("End Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Position Held")
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                @if (pastWorkExperienceSession != null)
                                {
                                    foreach (var item in pastWorkExperienceSession)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FakeId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployerLocation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EndDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PositionHeld)
                                            </td>


                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 ">
                            <a href="@Url.Action("PastWorkExperience", "EmployeeManagement", new {returnUrl = true})" class="btn btn-brown pull-right fa fa-pencil">Edit</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Bank Data</strong>
                </h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-4">


                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("#")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Bank Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Account Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Account Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Account Type")
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                @if (bankData != null)
                                {
                                    foreach (var item in bankData)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FakeId)
                                            </td>
                                            @if (item != null)
                                            {
                                                <td>
                                                    @(new BankFactory().GetBankById(item.BankId).Name)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DisplayName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountType)
                                            </td>


                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 ">
                            <a href="@Url.Action("BankData", "EmployeeManagement", new {returnUrl = true})" class="btn btn-brown pull-right fa fa-pencil">Edit</a>
                        </div>

                    </div>


                </div><hr/>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <!-- Simple panel -->
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2>
                    <strong>Medical & Work data</strong>
                </h2>
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="col-md-4">
                        @if (employeeMedicalData != null)
                        {
                            <h4>
                                <strong >Blood Group</strong><br/>
                                <label>@employeeMedicalData.BloodGroup</label>


                            </h4>

                            <h4>
                                <strong >Genotype</strong><br/>
                                <label>@employeeMedicalData.Genotype</label>


                            </h4>
                        }
                        @if (employeeWorkData != null)
                        {
                            <h4>
                                <strong >Employement Type</strong><br/>
                                <label>@dbEmployee.EmploymentTypes.Find(employee.EmployeeMedicalDatas.SingleOrDefault().EmploymentTypeId).Name</label>


                            </h4>

                            <h4>
                                <strong >Employmente Date</strong><br/>
                                <label>@employeeWorkData.EmploymentDate</label>

                            </h4>
                            <h4>
                                <strong >Employement Position</strong><br/>
                                <label>@employeeWorkData.PositionHeld</label>

                            </h4>
                            <h4>
                                <strong>Faculty</strong><br />
                                <label>@dbEmployee.Faculties.Find(employee.FacultyId).Name</label>

                            </h4>
                            <h4>
                                <strong>Department</strong><br />
                                <label>@dbEmployee.Departments.Find(employee.DepartmentId).Name</label>

                            </h4>
                            <h4>
                                <strong>Unit</strong><br />
                                <label>@dbEmployee.Units.Find(employee.UnitId).Name</label>

                            </h4>
                        }


                        <div class="margin-bottom-30"></div>


                    </div>

                </div>
                <div class="col-md-12 ">
                    @Html.ActionLink("Edit", "MedicalData", new {returnUrl = true}, new {@class = "btn btn-brown pull-right fa fa-pencil"})
                    
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ReviewEmployeeDatas", "EmployeeManagement", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                @Html.ActionLink("Back", "MedicalData", new { backUrl = true }, new { @class = "btn btn-default btn-sm pull-left" })
                <input type="submit" value="submit" id="submitComment" class="btn btn-primary btn-sm pull-right fa fa-save"/>

            </div>
        }
    </div>

</div>
</div>
</div>