@using Opmas.Data.Objects.Entities.Employee
@model Opmas.Data.Objects.Mappings.EmployeeTrainingMapping
@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Training Session";
    ViewBag.Subheader = "View training details";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    var role = Session["role"] as Role;
}
<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.CoordinatorFullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.CoordinatorFullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.CoordinatorCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTrainings.CoordinatorCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back To List", "Index", null, new {@class = "btn btn-default btn-xs "})
</p>