@using Opmas.Data.Objects.Entities.Employee
@using Opmas.Data.Service.Enums
@model IEnumerable<Opmas.Data.Objects.Mappings.EmployeeTrainingMapping>
@{
    ViewBag.Title = "List";
    ViewBag.Header = "Training";
    ViewBag.Subheader = "List Of My Trainings";
    Layout = "~/Views/Shared/Layout/_LayoutListItems.cshtml";
    var role = Session["role"] as Role;
}
<div class="table-responsive">
<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTrainings.EndTime)
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTrainings.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTrainings.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTrainings.EndDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "EmployeeTrainingMappings", new {id = item.EmployeeTrainingMappingId}, new {@class = "btn btn-xs btn-default fa fa-television"})
            </td>
        </tr>
    }
    </tbody>
</table>
    </div>
